<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stories of Boeing in D3</title>
    <script src="https://d3js.org/d3.v6.min.js"></script>
    
  </head>
  <body>

    <p>This is a data visualization project, inspired by:</p>
    <ul>
    <li><a href="https://www.youtube.com/watch?v=IaWdEtANi-0">People &amp; Power - On a wing and a prayer (youtube documentary)</a></li>
    <li><a href="https://en.wikipedia.org/wiki/Boeing_737_Next_Generation">Boeing 737 Next Generation (subject of documentary)</a></li>
    </ul>
    <p>This will be a sinatra app that takes some data, serves it to a page running D3, and applies a tutorial&#39;s worth of effort to &quot;doing something&quot; with that data. </p>
    <p>I&#39;m more-or-less &quot;live-streaming&quot; this process, so someone else can follow my steps.</p>
    <p>To follow along:</p>
    <p><a href="https://github.com/josh-works/boeing-fleet-market-share">https://github.com/josh-works/boeing-fleet-market-share</a></p>
    <h2 id="data">Data</h2>
    <p>I&#39;m figuring out how to make available various bits of data. So far, we&#39;re reading from a Google spreadsheet:</p>
    <ul>
    <li><a href="/api/top-models-by-number">/api/top-models-by-number</a></li>
    </ul>
  </body>
</html>